*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    display: flex;
    width: 110%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url();
    background-size: cover;
    background-color: #87CEFA;
    margin-left: -20px;
    margin-top: 9px;
}

.logo{

    width: 310px;
    height: 310px;
    align-items: center;
    margin-top: -40%;
}


.container{
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    margin:  25px;
    border-radius: 20px;
    
    
   
}
.easy{
    text-align: center;

    width: 20px;
    height: 20px;
}


.form-voltar{
    text-align: center;
    color: black;
    display: inline-flex;
    width: 0%;
    height: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    margin-right: 10px;

}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color:black;
   margin-top: -100px;
   }

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;

}

.user-input-box label{
    width: 95%;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 3px 0;
    
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(44, 30, 30);
    padding: 0 10px;
    border-radius: 50px;
}

.gender-title{
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
    

}



.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 60px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: #1795cb;
    border-radius: 50px;
}

.form-submit-btn input:hover{
    background:#1795cb;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}
.date{
    border-radius: 10px;
}


@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }

    #mensagem-cadastro {
        text-align: center;
        margin-top: 20px;
      }
  
      #mensagem-cadastro h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
  
      #mensagem-cadastro p {
        font-size: 18px;
        color: #666;
      }
   
}



